.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.135);
}

.login-form > .user-input{
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.login-form > .user-input > label{
    font-size: .8em;
    color: #DDDDDD;
}

.login-form > .user-input > input{
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #262626;
    color: #e5e5e5;
}

.login-form > .user-input > input::placeholder{
    font-weight: 500;
    font-style: normal;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-container > button{
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #DCDCDC;
    color: #2A2A2A;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 0.8em;
}

.cad{
    color: #949494;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: right;
}

.tipo{
    color: #949494;
    font-size: 0.8em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
}

