.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: #d5d5d5;
}

.navbar > .list{
    list-style: none;
    display: flex;
    gap: 1em;
}

.navbar > .list > li > a{
    font-size: .8em;
    text-decoration: none;
    color: #d5d5d5;
}
.logo-container{
    display: flex;
    align-items: center;
}

.logo{
    width: 32px;
}