.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: #d5d5d5;
}

.navbar > .list{
    list-style: none;
    display: flex;
    gap: 1em;
}

.navbar > .list > li > a{
    font-size: 5em;
    text-decoration: none;
    color: #d5d5d5;
}

.logoIMG{
    background-color: red;
}